# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# avoid pushing large files
train_data/
test_data_v2/
test.csv
train.csv


# Logs
logs/
*.log
training_log*.txt
prediction_log*.txt

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Kaggle / API keys
kaggle.json
*.env
